# {{ ansible_managed }}

{% if ansible_distribution_major_version|int < 7 %}
# module loaded here on RHEL 6, not in conf.modules.d
<IfModule prefork.c>
  LoadModule php5_module modules/libphp5.so
</IfModule>
{% endif %}

AddType text/html .php
DirectoryIndex index.php

<IfModule  mod_php5.c>

    <FilesMatch \.php$>
        SetHandler application/x-httpd-php
    </FilesMatch>

    php_value session.save_handler "files"
    php_value session.save_path    "/var/lib/php/session"

</IfModule>

{% if php_fpm %}
<IfModule  !mod_php5.c>

<FilesMatch "\.php$">
     SetHandler  "proxy:fcgi://localhost:9000"
</FilesMatch>
<Proxy "fcgi://localhost:9000">
    ProxySet timeout={{ php_fpm_proxy_timeout }}
</Proxy>

</IfModule>
{% endif %}